iframe {
    border: none;
}

#viewer360 {
	width: 100%;
	height: 330px;
}

.cloudimage-inner-box > div {
	display: none;
}

.canvas-container {
    position: relative;
}

.canvas-container:after {
	content: '';
	position: absolute;
	width: 260px;
	height: 86px;
	bottom: 50px;
	left: 50px;
	background: url("files/assets/layout/mouse-control-white.svg") no-repeat 0/cover;
}

.viewer360-wrapper {
	position: relative;
	width: 100%;
	height: 330px;
}

.viewer360-wrapper:after {
	content: '';
	position: absolute;
	bottom: 40px;
	right: 40px;
	width: 60px;
	height: 60px;
	background: url("files/assets/layout/mouse-control-360-black.svg") no-repeat 0/cover;
}

.webglbuttoncontainer {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-right: 13px;
    padding-top: 13px;
    pointer-events: none;
    z-index: 1;
}
.webglbutton {
    pointer-events: initial;
    display: inline-block;
    margin-left: 13px;
}
.webglbutton a {
    color: #528196;
    border: none;
    background: white;
}
.webglbutton a:hover {
    background: #528196;
}
.webglbutton a.current {
    color: white;
    background: #528196;
}
.webgloverlaycontent {
    pointer-events: all;
    display: none;
    position: absolute;
    width: 50%;
    height: 42vw;
    top: 0;
    right: 0;
    background-color: rgba(255,255,255,0.9);
    overflow-y: auto;
}
.webgloverlaycontent .content {
    pointer-events: all;
    padding-top: 80px;
    padding-left: 75px;
    padding-right: 139px;
    padding-bottom: 33px;
}
.closeWebglOverlay {
    pointer-events: all;
    position: absolute;
    top: 33px;
    right: 50px;
}
.closeWebglOverlay img {
    width: 50px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
}
.content img {
    width: 100%
}

.webgloverlaycontent .ce_player, .webgloverlaycontent .ce_image, .webgloverlaycontent iframe {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@media screnn and (min-width:1300px) {
	.viewer360-wrapper:after {
		width: 80px;
		height: 80px;
	}

	.viewer360-wrapper, #viewer360 {
		height: 400px;
	}
}

@media screen and (min-width:1600px) {
	.viewer360-wrapper, #viewer360 {
		height: 600px;
	}
}

@media screen and (max-width: 1265px) {
    .canvas-container {
        display: none;
    }
}
