@import "variables";

body.bodyProjectDetail{
  .sub_nav{
    display: flex;
    width: 240px;
    position: absolute;
    transform: translateX(($content_size/2)+70px);
    top: 226px;
    flex-direction: column;

    .sub_nav_box{
      display: flex;
      margin-bottom: 40px;

      .col_1{
        margin-right: 15px;

        img{
          width: 20px;
        }
      }

      .col_2{
        p.desc{
          margin-bottom: 6px;
          text-transform: uppercase;
          font-size: 12px;
        }
        p.info{
          font-weight: 600;
          margin-bottom: 6px;
        }
      }

      .ce_hyperlink{
        width: unset;
        margin-left: unset;
        margin-right: unset;
        a{
          display: flex;
          align-items: center;
          padding: 15px 17px;

          img{
            width: 20px;
            margin-right: 8px;
            transition: 0.3s;
          }

          span{
            text-transform: none;
          }
        }


        img.hover-arrow{
          filter: $icon_white;
          display: none;
        }

        img.first-arrow{
          filter: $icon_primary;
        }

        a:hover {

          img{
            transition: 0.3s;
          }

          img.hover-arrow{
            display: unset;
          }

          img.first-arrow{
            display: none;
          }

          span {
            transition: 0.3s;
            color: white;
          }
        }

      }
    }
  }

  .specs {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
    font-weight: 300;
  }

  .section_1{
    background-color: white;
  }

}
